Checks: >
  bugprone-*,
  concurrency-*,
  cppcoreguidelines-*,
    -cppcoreguidelines-avoid-non-const-global-variables,
  misc-*,
  modernize-*,
    -modernize-use-trailing-return-type,
  performance-*,
  readability-*


UseColor: true
