Checks: >
  bugprone-*,
  concurrency-*,
  cppcoreguidelines-*,
    -cppcoreguidelines-avoid-non-const-global-variables,
  misc-*,
    -misc-include-cleaner,
  modernize-*,
    -modernize-use-trailing-return-type,
  performance-*,
    -performance-enum-size,
  readability-*
